In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("marital status.csv")

In [3]:
df.shape

(20, 2)

In [4]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [5]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [6]:
fill= df['status'].median()

In [7]:
fill

0.0

In [9]:
df.status = df.status.fillna(fill)

In [10]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [11]:
df.isnull().sum()

age       0
status    0
dtype: int64

In [12]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [15]:
X = df[['age']]

In [16]:
X

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [19]:
y= df['status']

In [20]:
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [25]:
#Dataset splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.30,random_state=1)

In [26]:
#Train Model 
from sklearn.linear_model import LogisticRegression
r=LogisticRegression()
r.fit(X_train, y_train)

#predict
pred=r.predict(X_test)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
r.score(X_test,y_test)

1.0

In [28]:
r.predict_proba(X_test)

array([[0.48097124, 0.51902876],
       [0.58414972, 0.41585028],
       [0.5242746 , 0.4757254 ],
       [0.49829471, 0.50170529],
       [0.51562228, 0.48437772],
       [0.42943818, 0.57056182]])

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report

In [30]:
accuracy_score(y_test,pred)

1.0

In [31]:
confusion_matrix(y_test,pred)

array([[3, 0],
       [0, 3]])

In [32]:
classification_report(y_test,pred)

'              precision    recall  f1-score   support\n\n         0.0       1.00      1.00      1.00         3\n         1.0       1.00      1.00      1.00         3\n\n   micro avg       1.00      1.00      1.00         6\n   macro avg       1.00      1.00      1.00         6\nweighted avg       1.00      1.00      1.00         6\n'

In [33]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00         3
         1.0       1.00      1.00      1.00         3

   micro avg       1.00      1.00      1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6